

.desc{
  margin:10px;
  padding:10px;
}

.row{
  margin:2px;
  padding:5px;
}

div{
  margin: 0px;
}

.s-scroll {
    max-height: 500px;
    overflow-y:auto;
}

.navbar-custom {
    background-color:#16b146;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#ffffff;
}
